<div class="contentWrapper">
  <app-navbar></app-navbar>

  <main class="main-content">
    <section class="kunden gewerbekunden">
      <div class="section-header">
        <h1>Unsere Lösungen für Gewerbekunden</h1>
        <p>
          Ob Wohnungsbaugesellschaft, Gastronomie oder Bürokomplex – wir sind
          Ihr zuverlässiger Partner für Heizung, Sanitär und Lüftung.
        </p>
      </div>

      <!-- Leistungen -->
      <div class="leistungen">
        <div class="leistung">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="50px"
            viewBox="0 -960 960 960"
            width="50px"
          >
            <path
              d="M520-520v-80h200v80H520Zm0-160v-80h320v80H520ZM320-120q-83 0-141.5-58.5T120-320q0-48 21-89.5t59-70.5v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q38 29 59 70.5t21 89.5q0 83-58.5 141.5T320-120ZM200-320h240q0-29-12.5-54T392-416l-32-24v-280q0-17-11.5-28.5T320-760q-17 0-28.5 11.5T280-720v280l-32 24q-23 17-35.5 42T200-320Z"
            />
          </svg>
          <h3>Heizungsanlagen für Großobjekte</h3>
          <p>
            Effiziente Heizsysteme für Gewerbeimmobilien, mit zuverlässigen
            Wartungsverträgen und schneller Störungsbeseitigung.
          </p>
        </div>
        <div class="leistung">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="50px"
            viewBox="0 -960 960 960"
            width="50px"
          >
            <path
              d="M280-600q-33 0-56.5-23.5T200-680q0-33 23.5-56.5T280-760q33 0 56.5 23.5T360-680q0 33-23.5 56.5T280-600ZM200-80q-17 0-28.5-11.5T160-120q-33 0-56.5-23.5T80-200v-240h120v-30q0-38 26-64t64-26q20 0 37 8t31 22l56 62q8 8 15.5 15t16.5 13h274v-326q0-14-10-24t-24-10q-6 0-11.5 2.5T664-790l-50 50q5 17 2 33.5T604-676L494-788q14-9 30-11.5t32 3.5l50-50q16-16 36.5-25t43.5-9q48 0 81 33t33 81v326h80v240q0 33-23.5 56.5T800-120q0 17-11.5 28.5T760-80H200Zm-40-120h640v-160H160v160Zm0 0h640-640Z"
            />
          </svg>
          <h3>Sanitärlösungen für Betriebe</h3>
          <p>
            Moderne WC- und Waschanlagen, Großküchen oder barrierefreie
            Sanitärbereiche – wir kümmern uns um Ihre Infrastruktur.
          </p>
        </div>
        <div class="leistung">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="50px"
            viewBox="0 -960 960 960"
            width="50px"
          >
            <path
              d="M120-120v-560q0-66 47-113t113-47h280q66 0 113 47t47 113v40h-80v-40q0-33-23.5-56.5T560-760H280q-33 0-56.5 23.5T200-680v480h440v-80h80v160H120Zm300-200q66 0 113-47t47-113q0-66-47-113t-113-47q-66 0-113 47t-47 113q0 66 47 113t113 47Zm0-80q-33 0-56.5-23.5T340-480q0-33 23.5-56.5T420-560q33 0 56.5 23.5T500-480q0 33-23.5 56.5T420-400Zm260-80v-80h36q9 0 16-4.5t12-13.5q15-29 41.5-45.5T844-640h36v80h-36q-9 0-16 4.5T816-542q-15 29-41.5 45.5T716-480h-36Zm0 160v-80h36q9 0 16-4.5t12-13.5q15-29 41.5-45.5T844-480h36v80h-36q-9 0-16 4.5T816-382q-15 29-41.5 45.5T716-320h-36Zm-40 120H200h440Z"
            />
          </svg>
          <h3>Lüftungs- & Klimaanlagen</h3>
          <p>
            Optimale Luftqualität und Wohlfühlklima in Büros, Praxen und
            Produktionshallen.
          </p>
        </div>
      </div>

      <!-- Branchenbeispiele -->
      <div class="branchen">
        <h2>Unsere Kunden kommen aus</h2>
        <ul>
          <li>🏢 Wohnungsbaugesellschaften & Hausverwaltungen</li>
          <li>🍽️ Gastronomie & Hotels</li>
          <li>🏥 Arztpraxen & Pflegeeinrichtungen</li>
          <li>🏭 Gewerbe- & Bürogebäude</li>
        </ul>
      </div>

      <!-- Call to Action -->
      <div class="cta">
        <h2>Individuelles Angebot anfordern</h2>
        <a href="/contact" class="cta-button">Jetzt Anfrage stellen</a>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
