footer {
  width: 100%;
  height: 100px;
  background-color: #1e2a5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .legal-links {
    display: flex;
    flex-direction: row;
    gap: 16px;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  h5 {
    color: #ffffff;
  }
}
